* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    color: #333;

}

.scene {
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;

    @media (min-width: 1025px) {
        background-size: contain;
    }
}

#scene-intro {
    flex-direction: column;
    font-size: 10vw;
    text-align: center;

    #intro-title {
        width: 80vw;
    }
}

.hidden {
    display: none !important;
}

#orientation-warning {
    font-size: 5vw;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 1);
}

video.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

video.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

video.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

video.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

#cta-button {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transform: translateX(-50%);
    cursor: pointer;

    img {
        display: block;
        width: 60vw;
        max-width: 260px;
    }
}

#headline {
    position: fixed;
    z-index: 1000;
    width: 60vw;
    max-width: 460px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 340px) {
        top: 20vh;
    }
}

.swiper img {
    display: block;
    width: 100%;
    min-width: 360px;
    margin-top: 40vh;
    padding: 0 10vw;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 300px) {
        min-width: 180px;
    }

    @media (min-width: 1025px) {
        padding: 0;
    }
}

.swiper-slide {
    @media (min-width: 1025px) {
        width: 70vh;
    }
}